[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pipenv-setup = "*"

[packages]
ipaddress = "*"
pathlib = "*"
peewee = "*"
prompt-toolkit = "*"
pyfiglet = "*"
pyminizip = "*"
requests = "*"
termcolor = "*"
terminaltables = "*"
Pillow = "*"
asciistuff = "*"
tinyscript = "*"
